/*
font reference from google fonts
'Share Tech Mono', monospace;
font-family: 'Press Start 2P', cursive;
*/

body {
    text-align: center;
    background-image: url("1-barren-alien-world-space-background-cartoon-clipart.jpg");
}

.title {
    padding: 10px;
}

h1,
#winner,
#letterGuesses {
    font-family: 'Press Start 2P', cursive;
    font-variant: small-caps;
}

h2,
h3,
h4 {
    color: white;
}

.title {
    color: grey;
    font-size: 60px;
}

.gamedescription {
    margin-bottom: 2%;
}

#winBox,
#lossBox {
    padding-top: 20px;
    border-style: groove;
    border-width: 9px;
    height: 40em;
}

#wordGuess,
#guesses,
.gamedescription {
    font-family: 'Share Tech Mono', monospace;
    color: yellow;
    font-weight: bold;
}

#winner {
    color: greenyellow;
}

#loss {
    color: red;
}