/*
font reference from google fonts
font-family: 'Indie Flower', cursive;
font-family: 'Press Start 2P', cursive;
*/

body {
    text-align: center;
}

.title {
    padding: 10px;
}

h1,
#winner,
#lose {
    font-family: 'Press Start 2P', cursive;
    font-variant: small-caps;
}

.title {
    color: grey;
    font-size: 60px;
}

.gamedescription {
    margin-bottom: 2%;
}

#winBox,
#lossBox {
    padding-top: 20px;
    border-style: groove;
    border-width: 9px;
    height: 40em;
}

#winner {
    color: green;
}

#lose {
    color: red;
}